.NavigationBar {
    background-color: var(--primary-300);
    color: var(--primary-700);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 12px;
}

.NavigationBar nav {
    align-items: center;
    display: flex;
}

.HeaderLogo {
    align-items: center;
    display: flex;
}

.HeaderLogo a {
    color: var(--primary-700);
    font-weight: bold;
    text-decoration: none;
}

.NavigationMenuItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.NavigationMenuItems li {
    padding: 0 12px;
}