.StationCard {
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
    padding: 12px;
    margin: 8px 0;
}

.StationCard a {
    color: var(--neutral-200);
}

.StationCard h2 {
    color: var(--primary-200);
    padding-bottom: 8px;
}